{% extends 'base.html' %}

{% load static %}


{% block content %}

    <section class="sesion-type">
             <div class="session-title row">
            <h2>Disease Prediction Model</h2>
            <!-- <p>A Web Application for Heart Disease Prediction, Diabetes Prediction and Breast Cancer Prediciton using various Machine Learning Algorithms based on the Kaggle Datasets.</p> -->
        </div>


        <div class="container">
        <p align="center">Start by filling your details and let the model do their work.</p></div>


{% if context == "None" %}
{% else %}
            {% if context == "No Output" %}
                <div class="container" style="background-color: #fadce4;" ><p align="center"><br><b>Output: </b>No such Disease has been found.</p><br></div>
            {% else %}
            <div class="container" style="background-color: #fadce4;" ><p align="center"><br><b>Output: </b>{{ name }}, You have most of the chances of having <b>{{ context }}</b>.</p><br></div>
            {% endif %}
{% endif %}



  <div class="container mt-4">
    <form class="row" method="POST" action="{% url 'home' %}">
      {% csrf_token %}

      <div class="col-md-10">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            class="form-control"
            id="name"
            placeholder="Enter your Name"
            name="name"
            required
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="Symptom1">Symptom1</label>
          <select required class="form-control" id="Symptom1" name="Symptom1" >
            <option value="" disabled selected>Select your Symptom</option>
            <option value='abdominal_pain' >abdominal_pain</option>
            <option value='abnormal_menstruation' >abnormal_menstruation</option>
            <option value='acute_liver_failure' >acute_liver_failure</option>
            <option value='altered_sensorium' >altered_sensorium</option>
            <option value='back_pain' >back_pain</option>
            <option value='belly_pain' >belly_pain</option>
            <option value='blackheads' >blackheads</option>
            <option value='bladder_discomfort' >bladder_discomfort</option>
            <option value='blister' >blister</option>
            <option value='bloody_stool' >bloody_stool</option>
            <option value='blurred_and_distorted_vision' >blurred_and_distorted_vision</option>
            <option value='bruising' >bruising</option>
            <option value='chest_pain' >chest_pain</option>
            <option value='coma' >coma</option>
            <option value='congestion' >congestion</option>
            <option value='constipation' >constipation</option>
            <option value='continuous_feel_of_urine' >continuous_feel_of_urine</option>
            <option value='cramps' >cramps</option>
            <option value='depression' >depression</option>
            <option value='dischromic _patches' >dischromic patches</option>
            <option value='distention_of_abdomen' >distention_of_abdomen</option>
            <option value='dizziness' >dizziness</option>
            <option value='drying_and_tingling_lips' >drying_and_tingling_lips</option>
            <option value='enlarged_thyroid' >enlarged_thyroid</option>
            <option value='excessive_hunger' >excessive_hunger</option>
            <option value='extra_marital_contacts' >extra_marital_contacts</option>
            <option value='family_history' >family_history</option>
            <option value='fast_heart_rate' >fast_heart_rate</option>
            <option value='fluid_overload' >fluid_overload</option>
            <option value='foul_smell_of urine' >foul_smell_of urine</option>
            <option value='hip_joint_pain' >hip_joint_pain</option>
            <option value='history_of_alcohol_consumption' >history_of_alcohol_consumption</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='inflammatory_nails' >inflammatory_nails</option>
            <option value='internal_itching' >internal_itching</option>
            <option value='irritability' >irritability</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='irritation_in_anus' >irritation_in_anus</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='knee_pain' >knee_pain</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='lack_of_concentration' >lack_of_concentration</option>
            <option value='loss_of_balance' >loss_of_balance</option>
            <option value='loss_of_smell' >loss_of_smell</option>
            <option value='malaise' >malaise</option>
            <option value='mild_fever' >mild_fever</option>
            <option value='movement_stiffness' >movement_stiffness</option>
            <option value='mucoid_sputum' >mucoid_sputum</option>
            <option value='muscle_pain' >muscle_pain</option>
            <option value='muscle_weaknessr' >muscle_weakness</option>
            <option value='neck_pain' >neck_pain</option>
            <option value='obesity' >obesity</option>
            <option value='pain_during_bowel_movements' >pain_during_bowel_movements</option>
            <option value='pain_in_anal_region' >pain_in_anal_region</option>
            <option value='painful_walking' >painful_walking</option>
            <option value='palpitations' >palpitations</option>
            <option value='passage_of_gases' >passage_of_gases</option>
            <option value='phlegm' >phlegm</option>
            <option value='polyuria' >polyuria</option>
            <option value='prominent_veins_on_calf' >prominent_veins_on_calf</option>
            <option value='puffy_face_and_eyes' >puffy_face_and_eyes</option>
            <option value='pus_filled_pimples' >pus_filled_pimples</option>
            <option value='receiving_blood_transfusion' >receiving_blood_transfusion</option>
            <option value='receiving_unsterile_injections' >receiving_unsterile_injections</option>
            <option value='red_sore_around_nose' >red_sore_around_nose</option>
            <option value='red_spots_over_body' >red_spots_over_body</option>
            <option value='redness_of_eyes' >redness_of_eyes</option>
            <option value='runny_nose' >runny_nose</option>
            <option value='rusty_sputum' >rusty_sputum</option>
            <option value='scurring' >scurring</option>
            <option value='silver_like_dusting' >silver_like_dusting</option>
            <option value='sinus_pressure' >sinus_pressure</option>
            <option value='skin_peeling' >skin_peeling</option>
            <option value='slurred_speech' >slurred_speech</option>
            <option value='small_dents_in_nails' >small_dents_in_nails</option>
            <option value='spinning_movements' >spinning_movements</option>
            <option value='stiff_neck' >stiff_neck</option>
            <option value='stomach_bleeding' >stomach_bleeding</option>
            <option value='swelled_lymph_nodes' >swelled_lymph_nodes</option>
            <option value='swelling_joints' >swelling_joints</option>
            <option value='swelling_of_stomach' >swelling_of_stomach</option>
            <option value='swollen_blood_vessels' >swollen_blood_vessels</option>
            <option value='swollen_extremeties' >swollen_extremeties</option>
            <option value='swollen_legs' >swollen_legs</option>
            <option value='throat_irritation' >throat_irritation</option>
            <option value='toxic_look_(typhos)' >toxic_look_(typhos)</option>
            <option value='unsteadiness' >unsteadiness</option>
            <option value='visual_disturbances' >visual_disturbances</option>
            <option value='watering_from_eyes' >watering_from_eyes</option>
            <option value='weakness_in_limbs' >weakness_in_limbs</option>
            <option value='weakness_of_one_body_side' >weakness_of_one_body_side</option>
            <option value='yellow_crust_ooze' >yellow_crust_ooze</option>
            <option value='yellow_urine' >yellow_urine</option>
            <option value='yellowing_of_eyes' >yellowing_of_eyes</option>

          </select>
        </div>
        <div class="form-group">
          <label for="Symptom2">Symptom2</label>
          <select required class="form-control" id="Symptom2" name="Symptom2" >
            <option value="" disabled selected>Select your Symptom</option>
            <option value='abdominal_pain' >abdominal_pain</option>
            <option value='abnormal_menstruation' >abnormal_menstruation</option>
            <option value='acute_liver_failure' >acute_liver_failure</option>
            <option value='altered_sensorium' >altered_sensorium</option>
            <option value='back_pain' >back_pain</option>
            <option value='belly_pain' >belly_pain</option>
            <option value='blackheads' >blackheads</option>
            <option value='bladder_discomfort' >bladder_discomfort</option>
            <option value='blister' >blister</option>
            <option value='bloody_stool' >bloody_stool</option>
            <option value='blurred_and_distorted_vision' >blurred_and_distorted_vision</option>
            <option value='bruising' >bruising</option>
            <option value='chest_pain' >chest_pain</option>
            <option value='coma' >coma</option>
            <option value='congestion' >congestion</option>
            <option value='constipation' >constipation</option>
            <option value='continuous_feel_of_urine' >continuous_feel_of_urine</option>
            <option value='cramps' >cramps</option>
            <option value='depression' >depression</option>
            <option value='dischromic _patches' >dischromic patches</option>
            <option value='distention_of_abdomen' >distention_of_abdomen</option>
            <option value='dizziness' >dizziness</option>
            <option value='drying_and_tingling_lips' >drying_and_tingling_lips</option>
            <option value='enlarged_thyroid' >enlarged_thyroid</option>
            <option value='excessive_hunger' >excessive_hunger</option>
            <option value='extra_marital_contacts' >extra_marital_contacts</option>
            <option value='family_history' >family_history</option>
            <option value='fast_heart_rate' >fast_heart_rate</option>
            <option value='fluid_overload' >fluid_overload</option>
            <option value='foul_smell_of urine' >foul_smell_of urine</option>
            <option value='hip_joint_pain' >hip_joint_pain</option>
            <option value='history_of_alcohol_consumption' >history_of_alcohol_consumption</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='inflammatory_nails' >inflammatory_nails</option>
            <option value='internal_itching' >internal_itching</option>
            <option value='irritability' >irritability</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='irritation_in_anus' >irritation_in_anus</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='knee_pain' >knee_pain</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='lack_of_concentration' >lack_of_concentration</option>
            <option value='loss_of_balance' >loss_of_balance</option>
            <option value='loss_of_smell' >loss_of_smell</option>
            <option value='malaise' >malaise</option>
            <option value='mild_fever' >mild_fever</option>
            <option value='movement_stiffness' >movement_stiffness</option>
            <option value='mucoid_sputum' >mucoid_sputum</option>
            <option value='muscle_pain' >muscle_pain</option>
            <option value='muscle_weaknessr' >muscle_weakness</option>
            <option value='neck_pain' >neck_pain</option>
            <option value='obesity' >obesity</option>
            <option value='pain_during_bowel_movements' >pain_during_bowel_movements</option>
            <option value='pain_in_anal_region' >pain_in_anal_region</option>
            <option value='painful_walking' >painful_walking</option>
            <option value='palpitations' >palpitations</option>
            <option value='passage_of_gases' >passage_of_gases</option>
            <option value='phlegm' >phlegm</option>
            <option value='polyuria' >polyuria</option>
            <option value='prominent_veins_on_calf' >prominent_veins_on_calf</option>
            <option value='puffy_face_and_eyes' >puffy_face_and_eyes</option>
            <option value='pus_filled_pimples' >pus_filled_pimples</option>
            <option value='receiving_blood_transfusion' >receiving_blood_transfusion</option>
            <option value='receiving_unsterile_injections' >receiving_unsterile_injections</option>
            <option value='red_sore_around_nose' >red_sore_around_nose</option>
            <option value='red_spots_over_body' >red_spots_over_body</option>
            <option value='redness_of_eyes' >redness_of_eyes</option>
            <option value='runny_nose' >runny_nose</option>
            <option value='rusty_sputum' >rusty_sputum</option>
            <option value='scurring' >scurring</option>
            <option value='silver_like_dusting' >silver_like_dusting</option>
            <option value='sinus_pressure' >sinus_pressure</option>
            <option value='skin_peeling' >skin_peeling</option>
            <option value='slurred_speech' >slurred_speech</option>
            <option value='small_dents_in_nails' >small_dents_in_nails</option>
            <option value='spinning_movements' >spinning_movements</option>
            <option value='stiff_neck' >stiff_neck</option>
            <option value='stomach_bleeding' >stomach_bleeding</option>
            <option value='swelled_lymph_nodes' >swelled_lymph_nodes</option>
            <option value='swelling_joints' >swelling_joints</option>
            <option value='swelling_of_stomach' >swelling_of_stomach</option>
            <option value='swollen_blood_vessels' >swollen_blood_vessels</option>
            <option value='swollen_extremeties' >swollen_extremeties</option>
            <option value='swollen_legs' >swollen_legs</option>
            <option value='throat_irritation' >throat_irritation</option>
            <option value='toxic_look_(typhos)' >toxic_look_(typhos)</option>
            <option value='unsteadiness' >unsteadiness</option>
            <option value='visual_disturbances' >visual_disturbances</option>
            <option value='watering_from_eyes' >watering_from_eyes</option>
            <option value='weakness_in_limbs' >weakness_in_limbs</option>
            <option value='weakness_of_one_body_side' >weakness_of_one_body_side</option>
            <option value='yellow_crust_ooze' >yellow_crust_ooze</option>
            <option value='yellow_urine' >yellow_urine</option>
            <option value='yellowing_of_eyes' >yellowing_of_eyes</option>
            <option value='chest_pain' >chest_pain</option>
          </select>
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="Symptom3">Symptom3</label>
          <select required class="form-control" id="Symptom3" name="Symptom3" >
            <option value="" disabled selected>Select your Symptom</option>
            <option value='abdominal_pain' >abdominal_pain</option>
            <option value='abnormal_menstruation' >abnormal_menstruation</option>
            <option value='acute_liver_failure' >acute_liver_failure</option>
            <option value='altered_sensorium' >altered_sensorium</option>
            <option value='back_pain' >back_pain</option>
            <option value='belly_pain' >belly_pain</option>
            <option value='blackheads' >blackheads</option>
            <option value='bladder_discomfort' >bladder_discomfort</option>
            <option value='blister' >blister</option>
            <option value='bloody_stool' >bloody_stool</option>
            <option value='blurred_and_distorted_vision' >blurred_and_distorted_vision</option>
            <option value='bruising' >bruising</option>
            <option value='chest_pain' >chest_pain</option>
            <option value='coma' >coma</option>
            <option value='congestion' >congestion</option>
            <option value='constipation' >constipation</option>
            <option value='continuous_feel_of_urine' >continuous_feel_of_urine</option>
            <option value='cramps' >cramps</option>
            <option value='depression' >depression</option>
            <option value='dischromic _patches' >dischromic patches</option>
            <option value='distention_of_abdomen' >distention_of_abdomen</option>
            <option value='dizziness' >dizziness</option>
            <option value='drying_and_tingling_lips' >drying_and_tingling_lips</option>
            <option value='enlarged_thyroid' >enlarged_thyroid</option>
            <option value='excessive_hunger' >excessive_hunger</option>
            <option value='extra_marital_contacts' >extra_marital_contacts</option>
            <option value='family_history' >family_history</option>
            <option value='fast_heart_rate' >fast_heart_rate</option>
            <option value='fluid_overload' >fluid_overload</option>
            <option value='foul_smell_of urine' >foul_smell_of urine</option>
            <option value='hip_joint_pain' >hip_joint_pain</option>
            <option value='history_of_alcohol_consumption' >history_of_alcohol_consumption</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='inflammatory_nails' >inflammatory_nails</option>
            <option value='internal_itching' >internal_itching</option>
            <option value='irritability' >irritability</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='irritation_in_anus' >irritation_in_anus</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='knee_pain' >knee_pain</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='lack_of_concentration' >lack_of_concentration</option>
            <option value='loss_of_balance' >loss_of_balance</option>
            <option value='loss_of_smell' >loss_of_smell</option>
            <option value='malaise' >malaise</option>
            <option value='mild_fever' >mild_fever</option>
            <option value='movement_stiffness' >movement_stiffness</option>
            <option value='mucoid_sputum' >mucoid_sputum</option>
            <option value='muscle_pain' >muscle_pain</option>
            <option value='muscle_weaknessr' >muscle_weakness</option>
            <option value='neck_pain' >neck_pain</option>
            <option value='obesity' >obesity</option>
            <option value='pain_during_bowel_movements' >pain_during_bowel_movements</option>
            <option value='pain_in_anal_region' >pain_in_anal_region</option>
            <option value='painful_walking' >painful_walking</option>
            <option value='palpitations' >palpitations</option>
            <option value='passage_of_gases' >passage_of_gases</option>
            <option value='phlegm' >phlegm</option>
            <option value='polyuria' >polyuria</option>
            <option value='prominent_veins_on_calf' >prominent_veins_on_calf</option>
            <option value='puffy_face_and_eyes' >puffy_face_and_eyes</option>
            <option value='pus_filled_pimples' >pus_filled_pimples</option>
            <option value='receiving_blood_transfusion' >receiving_blood_transfusion</option>
            <option value='receiving_unsterile_injections' >receiving_unsterile_injections</option>
            <option value='red_sore_around_nose' >red_sore_around_nose</option>
            <option value='red_spots_over_body' >red_spots_over_body</option>
            <option value='redness_of_eyes' >redness_of_eyes</option>
            <option value='runny_nose' >runny_nose</option>
            <option value='rusty_sputum' >rusty_sputum</option>
            <option value='scurring' >scurring</option>
            <option value='silver_like_dusting' >silver_like_dusting</option>
            <option value='sinus_pressure' >sinus_pressure</option>
            <option value='skin_peeling' >skin_peeling</option>
            <option value='slurred_speech' >slurred_speech</option>
            <option value='small_dents_in_nails' >small_dents_in_nails</option>
            <option value='spinning_movements' >spinning_movements</option>
            <option value='stiff_neck' >stiff_neck</option>
            <option value='stomach_bleeding' >stomach_bleeding</option>
            <option value='swelled_lymph_nodes' >swelled_lymph_nodes</option>
            <option value='swelling_joints' >swelling_joints</option>
            <option value='swelling_of_stomach' >swelling_of_stomach</option>
            <option value='swollen_blood_vessels' >swollen_blood_vessels</option>
            <option value='swollen_extremeties' >swollen_extremeties</option>
            <option value='swollen_legs' >swollen_legs</option>
            <option value='throat_irritation' >throat_irritation</option>
            <option value='toxic_look_(typhos)' >toxic_look_(typhos)</option>
            <option value='unsteadiness' >unsteadiness</option>
            <option value='visual_disturbances' >visual_disturbances</option>
            <option value='watering_from_eyes' >watering_from_eyes</option>
            <option value='weakness_in_limbs' >weakness_in_limbs</option>
            <option value='weakness_of_one_body_side' >weakness_of_one_body_side</option>
            <option value='yellow_crust_ooze' >yellow_crust_ooze</option>
            <option value='yellow_urine' >yellow_urine</option>
            <option value='yellowing_of_eyes' >yellowing_of_eyes</option>
          </select>
        </div>
        <div class="form-group">
          <label for="Symptom4">Symptom4</label>
          <select required class="form-control" id="Symptom4" name="Symptom4" >
            <option value="" disabled selected>Select your Symptom</option>
            <option value='abdominal_pain' >abdominal_pain</option>
            <option value='abnormal_menstruation' >abnormal_menstruation</option>
            <option value='acute_liver_failure' >acute_liver_failure</option>
            <option value='altered_sensorium' >altered_sensorium</option>
            <option value='back_pain' >back_pain</option>
            <option value='belly_pain' >belly_pain</option>
            <option value='blackheads' >blackheads</option>
            <option value='bladder_discomfort' >bladder_discomfort</option>
            <option value='blister' >blister</option>
            <option value='bloody_stool' >bloody_stool</option>
            <option value='blurred_and_distorted_vision' >blurred_and_distorted_vision</option>
            <option value='bruising' >bruising</option>
            <option value='chest_pain' >chest_pain</option>
            <option value='coma' >coma</option>
            <option value='congestion' >congestion</option>
            <option value='constipation' >constipation</option>
            <option value='continuous_feel_of_urine' >continuous_feel_of_urine</option>
            <option value='cramps' >cramps</option>
            <option value='depression' >depression</option>
            <option value='dischromic _patches' >dischromic patches</option>
            <option value='distention_of_abdomen' >distention_of_abdomen</option>
            <option value='dizziness' >dizziness</option>
            <option value='drying_and_tingling_lips' >drying_and_tingling_lips</option>
            <option value='enlarged_thyroid' >enlarged_thyroid</option>
            <option value='excessive_hunger' >excessive_hunger</option>
            <option value='extra_marital_contacts' >extra_marital_contacts</option>
            <option value='family_history' >family_history</option>
            <option value='fast_heart_rate' >fast_heart_rate</option>
            <option value='fluid_overload' >fluid_overload</option>
            <option value='foul_smell_of urine' >foul_smell_of urine</option>
            <option value='hip_joint_pain' >hip_joint_pain</option>
            <option value='history_of_alcohol_consumption' >history_of_alcohol_consumption</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='inflammatory_nails' >inflammatory_nails</option>
            <option value='internal_itching' >internal_itching</option>
            <option value='irritability' >irritability</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='irritation_in_anus' >irritation_in_anus</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='knee_pain' >knee_pain</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='lack_of_concentration' >lack_of_concentration</option>
            <option value='loss_of_balance' >loss_of_balance</option>
            <option value='loss_of_smell' >loss_of_smell</option>
            <option value='malaise' >malaise</option>
            <option value='mild_fever' >mild_fever</option>
            <option value='movement_stiffness' >movement_stiffness</option>
            <option value='mucoid_sputum' >mucoid_sputum</option>
            <option value='muscle_pain' >muscle_pain</option>
            <option value='muscle_weaknessr' >muscle_weakness</option>
            <option value='neck_pain' >neck_pain</option>
            <option value='obesity' >obesity</option>
            <option value='pain_during_bowel_movements' >pain_during_bowel_movements</option>
            <option value='pain_in_anal_region' >pain_in_anal_region</option>
            <option value='painful_walking' >painful_walking</option>
            <option value='palpitations' >palpitations</option>
            <option value='passage_of_gases' >passage_of_gases</option>
            <option value='phlegm' >phlegm</option>
            <option value='polyuria' >polyuria</option>
            <option value='prominent_veins_on_calf' >prominent_veins_on_calf</option>
            <option value='puffy_face_and_eyes' >puffy_face_and_eyes</option>
            <option value='pus_filled_pimples' >pus_filled_pimples</option>
            <option value='receiving_blood_transfusion' >receiving_blood_transfusion</option>
            <option value='receiving_unsterile_injections' >receiving_unsterile_injections</option>
            <option value='red_sore_around_nose' >red_sore_around_nose</option>
            <option value='red_spots_over_body' >red_spots_over_body</option>
            <option value='redness_of_eyes' >redness_of_eyes</option>
            <option value='runny_nose' >runny_nose</option>
            <option value='rusty_sputum' >rusty_sputum</option>
            <option value='scurring' >scurring</option>
            <option value='silver_like_dusting' >silver_like_dusting</option>
            <option value='sinus_pressure' >sinus_pressure</option>
            <option value='skin_peeling' >skin_peeling</option>
            <option value='slurred_speech' >slurred_speech</option>
            <option value='small_dents_in_nails' >small_dents_in_nails</option>
            <option value='spinning_movements' >spinning_movements</option>
            <option value='stiff_neck' >stiff_neck</option>
            <option value='stomach_bleeding' >stomach_bleeding</option>
            <option value='swelled_lymph_nodes' >swelled_lymph_nodes</option>
            <option value='swelling_joints' >swelling_joints</option>
            <option value='swelling_of_stomach' >swelling_of_stomach</option>
            <option value='swollen_blood_vessels' >swollen_blood_vessels</option>
            <option value='swollen_extremeties' >swollen_extremeties</option>
            <option value='swollen_legs' >swollen_legs</option>
            <option value='throat_irritation' >throat_irritation</option>
            <option value='toxic_look_(typhos)' >toxic_look_(typhos)</option>
            <option value='unsteadiness' >unsteadiness</option>
            <option value='visual_disturbances' >visual_disturbances</option>
            <option value='watering_from_eyes' >watering_from_eyes</option>
            <option value='weakness_in_limbs' >weakness_in_limbs</option>
            <option value='weakness_of_one_body_side' >weakness_of_one_body_side</option>
            <option value='yellow_crust_ooze' >yellow_crust_ooze</option>
            <option value='yellow_urine' >yellow_urine</option>
            <option value='yellowing_of_eyes' >yellowing_of_eyes</option>
          </select>
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="Symptom5">Symptom5</label>
          <select required class="form-control" id="Symptom5" name="Symptom5" >
            <option value="" disabled selected>Select your Symptom</option>
            <option value='abdominal_pain' >abdominal_pain</option>
            <option value='abnormal_menstruation' >abnormal_menstruation</option>
            <option value='acute_liver_failure' >acute_liver_failure</option>
            <option value='altered_sensorium' >altered_sensorium</option>
            <option value='back_pain' >back_pain</option>
            <option value='belly_pain' >belly_pain</option>
            <option value='blackheads' >blackheads</option>
            <option value='bladder_discomfort' >bladder_discomfort</option>
            <option value='blister' >blister</option>
            <option value='bloody_stool' >bloody_stool</option>
            <option value='blurred_and_distorted_vision' >blurred_and_distorted_vision</option>
            <option value='bruising' >bruising</option>
            <option value='chest_pain' >chest_pain</option>
            <option value='coma' >coma</option>
            <option value='congestion' >congestion</option>
            <option value='constipation' >constipation</option>
            <option value='continuous_feel_of_urine' >continuous_feel_of_urine</option>
            <option value='cramps' >cramps</option>
            <option value='depression' >depression</option>
            <option value='dischromic _patches' >dischromic patches</option>
            <option value='distention_of_abdomen' >distention_of_abdomen</option>
            <option value='dizziness' >dizziness</option>
            <option value='drying_and_tingling_lips' >drying_and_tingling_lips</option>
            <option value='enlarged_thyroid' >enlarged_thyroid</option>
            <option value='excessive_hunger' >excessive_hunger</option>
            <option value='extra_marital_contacts' >extra_marital_contacts</option>
            <option value='family_history' >family_history</option>
            <option value='fast_heart_rate' >fast_heart_rate</option>
            <option value='fluid_overload' >fluid_overload</option>
            <option value='foul_smell_of urine' >foul_smell_of urine</option>
            <option value='hip_joint_pain' >hip_joint_pain</option>
            <option value='history_of_alcohol_consumption' >history_of_alcohol_consumption</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='inflammatory_nails' >inflammatory_nails</option>
            <option value='internal_itching' >internal_itching</option>
            <option value='irritability' >irritability</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='irritation_in_anus' >irritation_in_anus</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='knee_pain' >knee_pain</option>
            <option value='increased_appetite' >increased_appetite</option>
            <option value='lack_of_concentration' >lack_of_concentration</option>
            <option value='loss_of_balance' >loss_of_balance</option>
            <option value='loss_of_smell' >loss_of_smell</option>
            <option value='malaise' >malaise</option>
            <option value='mild_fever' >mild_fever</option>
            <option value='movement_stiffness' >movement_stiffness</option>
            <option value='mucoid_sputum' >mucoid_sputum</option>
            <option value='muscle_pain' >muscle_pain</option>
            <option value='muscle_weaknessr' >muscle_weakness</option>
            <option value='neck_pain' >neck_pain</option>
            <option value='obesity' >obesity</option>
            <option value='pain_during_bowel_movements' >pain_during_bowel_movements</option>
            <option value='pain_in_anal_region' >pain_in_anal_region</option>
            <option value='painful_walking' >painful_walking</option>
            <option value='palpitations' >palpitations</option>
            <option value='passage_of_gases' >passage_of_gases</option>
            <option value='phlegm' >phlegm</option>
            <option value='polyuria' >polyuria</option>
            <option value='prominent_veins_on_calf' >prominent_veins_on_calf</option>
            <option value='puffy_face_and_eyes' >puffy_face_and_eyes</option>
            <option value='pus_filled_pimples' >pus_filled_pimples</option>
            <option value='receiving_blood_transfusion' >receiving_blood_transfusion</option>
            <option value='receiving_unsterile_injections' >receiving_unsterile_injections</option>
            <option value='red_sore_around_nose' >red_sore_around_nose</option>
            <option value='red_spots_over_body' >red_spots_over_body</option>
            <option value='redness_of_eyes' >redness_of_eyes</option>
            <option value='runny_nose' >runny_nose</option>
            <option value='rusty_sputum' >rusty_sputum</option>
            <option value='scurring' >scurring</option>
            <option value='silver_like_dusting' >silver_like_dusting</option>
            <option value='sinus_pressure' >sinus_pressure</option>
            <option value='skin_peeling' >skin_peeling</option>
            <option value='slurred_speech' >slurred_speech</option>
            <option value='small_dents_in_nails' >small_dents_in_nails</option>
            <option value='spinning_movements' >spinning_movements</option>
            <option value='stiff_neck' >stiff_neck</option>
            <option value='stomach_bleeding' >stomach_bleeding</option>
            <option value='swelled_lymph_nodes' >swelled_lymph_nodes</option>
            <option value='swelling_joints' >swelling_joints</option>
            <option value='swelling_of_stomach' >swelling_of_stomach</option>
            <option value='swollen_blood_vessels' >swollen_blood_vessels</option>
            <option value='swollen_extremeties' >swollen_extremeties</option>
            <option value='swollen_legs' >swollen_legs</option>
            <option value='throat_irritation' >throat_irritation</option>
            <option value='toxic_look_(typhos)' >toxic_look_(typhos)</option>
            <option value='unsteadiness' >unsteadiness</option>
            <option value='visual_disturbances' >visual_disturbances</option>
            <option value='watering_from_eyes' >watering_from_eyes</option>
            <option value='weakness_in_limbs' >weakness_in_limbs</option>
            <option value='weakness_of_one_body_side' >weakness_of_one_body_side</option>
            <option value='yellow_crust_ooze' >yellow_crust_ooze</option>
            <option value='yellow_urine' >yellow_urine</option>
            <option value='yellowing_of_eyes' >yellowing_of_eyes</option>
          </select>
        </div>

        <button type="submit" class="btn-lg btn-block btn btn-danger mb-5">
          Predict
        </button>
      </div>
    </form>
  </div>


</section>



<section class="sesion-type">
            <div class="row">
                <div class="col-md-4 col-sm-16">
                    <div class="single-sess">
                        <img src="{% static 'images/heart.jpg' %}" alt="">
                        <p><span style="font-size: 25px;">Heart Disease Prediction</span><br>Heart disease is one of the biggest cause for morbidity and mortality among the population of the world. Prediction of cardiovascular disease is regarded as one of the most important subject in the section of clinical data analysis. The amount of data in the healthcare industry is huge. Data mining turns the large collection of raw healthcare data into information that can help to make informed decision and prediction.<br><br>
                            <a class="btn btn-light button" href="{% url 'heart' %}">Know your Heart Status</a><br><br>
                        </p>

                    </div>
                </div>
                <div class="col-md-4 col-sm-16">
                    <div class="single-sess">
                        <img src="{% static 'images/breast.jpg' %}" alt="">
                        <p><span style="font-size: 25px;">Breast Cancer Prediction</span><br>Breast cancer is one of the most common cancers among women worldwide, representing the majority of new cancer cases and cancer-related deaths according to global statistics, making it a significant public health problem in today’s society. An automatic disease detection system aids medical staffs in disease diagnosis and offers reliable, effective, and rapid response as well as decreases the risk of death. <br><br>
                            <a class="btn btn-light button" href="{% url 'breast' %}">Know your Breast Cancer Status</a><br><br></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-16">
                    <div class="single-sess">
                        <img src="{% static 'images/diabetes.png' %}" alt="">
                        <p><span style="font-size: 25px;">Diabetes Prediction</span><br>Diabetes mellitus is a chronic disease characterized by hyperglycemia. Diabetes is considered as one of the deadliest and chronic diseases which causes an increase in blood sugar. Many complications occur if diabetes remains untreated and unidentified. The tedious identifying process results in visiting of a patient to a diagnostic center and consulting doctor. But the rise in machine learning approaches solves this critical problem.<br><br>
                            <a class="btn btn-light button" href="{% url 'diabetes' %}">Know your Diabetes Status</a><br><br></p>
                    </div>
                </div>
        </div>
    </section>

    {% endblock %}